{% extends "layout.html" %}
{% block body %}
  <div>
    <p>In this example a scikit-learn random forest classifier is applied to a dataset of numerical and categorical examples,
      trying to predict creditworthiness.
    <p>LIME explains the variables explaining the most contributing variables to an individual decision.
    </p>
    </p>
    <p>The dataset is the German Credit Data set which can be found <a href="https://onlinecourses.science.psu.edu/stat857/node/215" target="_blank">here</a>,
      and the variable descriptions <a href="https://onlinecourses.science.psu.edu/stat857/node/222" target="_blank">here</a>.
    </p>
  </div>
  <div style="font-size:10px;">
  {{ table|safe }}
  </div>
  <div>
    <table>
      {% for form in forms %}
        <tr>
          <td>{{ form.name }}<td>
          <td>
          <select name="{{form.name}}" method='[GET, POST]'>
            {% for opt in form.options %}
              <option value={{opt}}>{{opt}}</option>
            {% endfor %}
          </select>
          </td>
        {% endfor %}
    </table>
    <p><input type=submit action="/creditscoring" method='POST' value="Computer says what?"></form></p>
  </div>
  <h3>
    Your example
  </h3>
  <div style="font-size:10px;">
  {{ custom_exp|safe }}
  </div>
  <div>
    <h3>
      Random examples
    </h3>
    {% for random_exp in random_exps %}
      {{ random_exp|safe }}
    {% endfor %}
  </div>
{% endblock %}
