{% extends "layout.html" %}
{% block body %}
  <div>
    <p>In this example a scikit-learn random forest classifier is applied to a dataset of numerical and categorical examples,
      trying to predict creditworthiness.
    <p>LIME explains the variables explaining the most contributing variables to an individual decision.
    </p>
    </p>
    <p>The dataset is the German Credit Data set which can be found <a href="https://onlinecourses.science.psu.edu/stat857/node/215" target="_blank">here</a>,
      and the variable descriptions <a href="https://onlinecourses.science.psu.edu/stat857/node/222" target="_blank">here</a>.
    </p>
  </div>
  <div>
    <table>
      <form action="http://localhost:5000/creditscoring_results", method='POST'>
      {% for form in forms %}
        <tr>
          <td>{{ form.name }}<td>
          <td>
          <select name="{{form.name}}" method='[GET, POST]'>
            {% for opt in form.options %}
              <option value={{opt}}>{{opt}}</option>
            {% endfor %}
          </select>
          </td>
        {% endfor %}
    </table>
    <p>
      <input type=submit value="Computer says what?">
    </p>
      </form>
  </div>
{% endblock %}
