{% extends "layout.html" %}
{% block body %}
  <div>
    <p>In this example a scikit-learn random forest classifier is applied to a dataset of numerical and categorical examples,
      trying to predict creditworthiness.
    <p>LIME explains the variables explaining the most contributing variables to an individual decision.
    </p>
    </p>
    <p>The dataset is the German Credit Data set which can be found <a href="https://onlinecourses.science.psu.edu/stat857/node/215" target="_blank">here</a>,
      and the variable descriptions <a href="https://onlinecourses.science.psu.edu/stat857/node/222" target="_blank">here</a>.
    </p>
  </div>
  <div style="font-size:10px;">
  {{ table|safe }}
  </div>
  <!-- <form method=post action="">
  <table>
    {% for field in form %}
      <tr>
      <td>{{ field.name }}</td><td>{{ field }}</td>
      <td>{{ field.label }}</td>
      </tr>
    {% endfor %}
  </table> -->
  <!-- <p><input type=submit value=Compute></form></p> -->
  <!-- <p>
  {% if result != None %}
  <img src="{{ result }}" width="500">
  {% endif %}
  </p> -->
  <div>
    {% for random_exp in random_exps %}
      {{ random_exp|safe }}
    {% endfor %}
  </div>
{% endblock %}
