{% extends "layout.html" %}
{% block body %}
  <div>
    <p>In this example a scikit-learn random forest classifier is applied to a dataset of numerical and categorical examples,
      trying to predict creditworthiness.
    <p>LIME explains the variables explaining the most contributing variables to an individual decision.
    </p>
    </p>
    <p>The dataset is the German Credit Data set which can be found <a href="https://onlinecourses.science.psu.edu/stat857/node/215" target="_blank">here</a>,
      and the variable descriptions <a href="https://onlinecourses.science.psu.edu/stat857/node/222" target="_blank">here</a>.
    </p>
    <p>Refresh (F5) to load new random examples, or
      <a href="/creditscoring_input">continue with a custom example</a>.
    </p>
  </div>
  <div style="font-size:10px;">
  {{ table|safe }}
  </div>
  <div>
    <h3>
      Random examples
    </h3>
    {% for random_exp in random_exps %}
      {{ random_exp|safe }}
    {% endfor %}
  </div>
{% endblock %}
