{% extends "layout.html" %}
{% block body %}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p>Algorithmic systems may appear like black boxes.
      But this is not a situation which is unchangeable.
      More and more solutions are developed to allow inspecting internal behaviour and conditions of algorithmic systems,
      as well as evaluating systems not only on accuracy or recall, but also on fairness, transparency, or explainability.</p>
      <p>This short demo is based on <a href="https://homes.cs.washington.edu/~marcotcr/blog/lime/" target="_blank">lime</a>, <a href="https://github.com/marcotcr/lime" target="_blank">(github)</a>, a tool that explains the outcome of any machine learning classifier, and neatly integrates with scikit-learn.
      Please refer to their <a href="https://arxiv.org/abs/1602.04938" target="_blank">paper on arxiv</a> for more detailed information.</p>
      <p>There are currently following examples online:</p>
     <ul>
       <li><a href="creditscoring">Classification with Credit Scoring Data</a></li>
       <li><a href="petimages">Neural Networks with Pet Images.</a> Please note that loading this page and creating explanations for neural networks can take a few minutes.</li>
     </ul>
   </div>
  </div>
  {{ script | safe }}
{% endblock %}
